src/calibre/0.8.34/*
src/database/sample/*
src/www/adminer/
src/log/*.log
src/log/*.html
src/temp/*.dat
src/temp/cache/*
src/temp/conversion/*
src/temp/metadata/*
src/temp/sessions/*
src/temp/uploads/*
src/temp/winexec/*