{**
 * This file is part of the Weblibre
 *
 * Copyright (c) 2012 Radim Kocman (xkocma03)
 * @author  Radim Kocman
 *}

{block title}{_("Access Denied")}{/block}
{block #content}

<h1>{_("Access Denied")}</h1>

<p{_("You do not have permission to view this page. Please try contact the web
site administrator if you believe you should be able to view this page.")}</p>

<p><small>{_("error")} 403</small></p>
