{**
 * This file is part of the Weblibre
 *
 * Copyright (c) 2012 Radim Kocman (xkocma03)
 * @author  Radim Kocman
 *}

{block title}{_("Page Not Found")}{/block}
{block #content}

<h1>{_("Page Not Found")}</h1>

<p>{_("The page you requested could not be found. It is possible that the address is
incorrect, or that the page no longer exists.")}</p>

<p><small>{_("error")} 404</small></p>
