{**
 * This file is part of the Weblibre
 *
 * Copyright (c) 2012 Radim Kocman (xkocma03)
 * @author  Radim Kocman
 *}

{block title}{_("Page Not Found")}{/block}
{block #content}

<h1>{_("Page Not Found")}</h1>

<p>{_("The page you requested has been taken off the site. We apologize for the inconvenience.")}</p>

<p><small>{_("error")} 410</small></p>
