{**
 * This file is part of the Weblibre
 *
 * Copyright (c) 2012 Radim Kocman (xkocma03)
 * @author  Radim Kocman
 *}

{block title}{_("Server Error")}{/block}
{block #content}

<h1>{_("Server Error")}</h1>

<p>{_("We're sorry! The server encountered an internal error and
was unable to complete your request. Please try again later.")}</p>

<p><small>{_("error")} 500</small></p>
